.st 
{
    line-height:20px;    
}
.c  {cursor:hand; font-family: monospace, monospace;}
.e  {margin-left:1em; text-indent:-1em; margin-right:1em}
.k  {margin-left:1em; text-indent:-1em; margin-right:1em}
.t  {color:#990000; font-family: monospace, monospace;}
.xt {color:#990099}
.ns {color:red; font-family: monospace, monospace;}
.dt {color:green}
.m  {color:blue; font-family: monospace, monospace;}
.tx {font-weight:bold; font-family: monospace, monospace;}
.db {text-indent:0px; margin-left:1em; margin-top:0px;
     margin-bottom:0px;padding-left:.3em;
     border-left:1px solid #CCCCCC; font:small Courier}
.di {font:small Courier}
.d  {color:blue}
.pi {color:blue}
.cb {text-indent:0px; margin-left:1em; margin-top:0px;
     margin-bottom:0px;padding-left:.3em; font:small Courier;
     color:#888888}
.ci {font:small Courier; color:#888888}